# igual que el dockerfile, basado en lo que tiene mi grupo del proyecto para
#   manejar la bdd mysql
services:
  mysqldb:
    image: mysql:8.0
    container_name: muebleria_mysql_docker
    environment:
      MYSQL_DATABASE: bdd_muebleria_ingsoft
      #MYSQL_ROOT_PASSWORD:
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./bdd:/docker-entrypoint-initdb.d
    restart: always

  app:
    build:
      context: .
    container_name: muebleria_backend
    ports:
      - "1984:1984"
    depends_on:
      - mysqldb
    environment:
      SPRING_APPLICATION_JSON: '{
        "spring.datasource.url": "jdbc:mysql://mysqldb:3306/bdd_muebleria_ingsoft",
        "spring.datasource.username": "root",
        "spring.datasource.password": "",
        "spring.jpa.hibernate.ddl-auto" : "create"
      }'
      #SPRING_DATASOURCE_URL:
      #SPRING_DATASOURCE_USERNAME: root
      #SPRING_DATASOURCE_PASSWORD: root
    restart: always

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: muebleria_phpmyadmin
    environment:
      PMA_HOST: mysqldb
      PMA_PORT: 3306
      #MYSQL_ROOT_PASSWORD: ""
    ports:
      - "8081:80"
    depends_on:
      - mysqldb
    restart: always

volumes:
  db_data: