<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="ISO-8859-1">
    <title>Editando Variante</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Editando Variante</h1>
    <hr>
    <h2>Guarda una Variante</h2>

    <form action="#" th:action="@{/guardaVariante}" th:object="${variante}"
          method="POST">
        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id_variante}" />
        <input type="hidden" th:field="*{mueble}" />

        <input type="text" th:field="*{modificacion}" placeholder="Modificación de la variante"
               class="form-control mb-4 col-4">
        <input type="text" th:field="*{precio_extra}" placeholder="Precio extra sobre el base"
               class="form-control mb-4 col-4">
        <input type="text" th:field="*{stock}" placeholder="Stock variante"
               class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2">Guardar Variante</button>
    </form>

    <hr>

    <a th:href="@{/}">Menú inicial</a>
</div>
</body>
</html>
